a {
  text-decoration: none;
}

button {
  background: none; 
  outline: none;
  appearance: none;
  border: 0px;
}

/* pagina inicial */

.opcoes-chamados {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin: 16px 0px;
}
.opcoes-chamados a,
.btn {
  padding: 4px 8px;
  background: rgb(95, 95, 255);
  color: white;
  border-radius: 4px;
  margin: 16px 0px;
  cursor: pointer;
}

.voltar-btn {
    padding: 4px 8px;
    background: rgb(104, 104, 122);
    color: white;
    border-radius: 4px;
    margin-top: 16px;
}
.cadastrar-btn {
  padding: 8px 4px;
  font-size: 18px;
}
/* card */
.link-card {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
.card-modulo {
  width: 350px;
  padding: 12px;
  background: rgb(95, 95, 255);
  color: white;
  border-radius: 4px;
}

.card-modulo h2 {
  color: white;
}

/* formulario */
.formulario-chamado {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

select {
  padding: 8px;
  border-radius: 4px;
}

label {
  font-weight: 500;
  color: black;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: 10px 0px;
}

.form-cadastro {
  padding: 16px;
  border: 1px solid black;
  border-radius: 4px;
}

.solicitante {
  margin-bottom: 16px;
}

ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 0px;
}

ul li {
  list-style: none;
  display: flex;
  align-items: start;
  gap: 4px;
  flex-direction: column;
  /* width: 200px; */
  border: 1px solid black;
  padding: 12px;
  border-radius: 4px;
}

ul li p {
  font-weight: 500;
  color: black;
}

ul li p span {
  font-weight: 400;
}

.acoes-chamado {
  margin-top: 16px;
  display: flex;
  align-items: center;
  font-size: 16px;
  gap: 16px;
}

.botao-excluir {
  background: red;
  color: white;
  font-size: 16px;
  padding: 8px 4px;
  border-radius: 4px;
  cursor: pointer;
}

.botao-alterar {
  font-size: 16px;
  padding: 4px;
  background-color: rgb(95, 95, 255);
  color: white;
  border-radius: 4px;
}

strong {
  display: block;
  margin-bottom: 16px;
}